<article class="sidebar-item">
  <div class="sidebar-header group">
    <div class="sidebar-header-left">
      <i class="fa fa-caret-down"></i>&nbsp;
      Notebooks
    </div>
    <div class="sidebar-header-right dropdown-parent">
      <i class="fa fa-toggle-down dropdown"></i>
      <ul class="options-dropdown hidden">
        <li>
          <div class="show-modal"
              data-action="create-notebook"
              data-item-id="nil">
            New Notebook...
          </div>
        </li>
      </ul>
    </div>
  </div>

<ul class="sidebar-list">
  <li class="group dropdown-parent">
    <div class="sidebar-entry-left notebook">
      <a href="#/notes/all" class="group">
        <i class="fa fa-book fa-lg"></i>&nbsp;
        <% var count = 0 %>
        <% Feathernote.notebooks.each(function(notebook){ count += notebook.notes().length }) %>
    All Notes (<%= count %>)
      </a>
    </div>
  </li>
<% notebooks.each(function(notebook) { %>
  <li class="group dropdown-parent">
    <div class="sidebar-entry-left notebook">
      <a href="#/notebooks/<%= notebook.id %>">
        <i class='fa fa-book fa-lg'></i>&nbsp;<%= notebook.escape("name") %> (<%= notebook.notes().length %>)
      </a>
    </div>
    <div class="sidebar-entry-right">
        <i class='fa fa-toggle-down'></i>
          <ul class="options-dropdown">
            <li>
              <a href="#" class="edit-notebook" id="<%= notebook.id %>">
                Rename...
              </a>
            </li>
            <li>
              <a href="#" class="delete-notebook" id="<%= notebook.id %>">
                Delete Notebook
              </a>
            </li>
          </ul>
        </div>
      </li>
    <% }) %>
  </ul>
