<section class="notes-list-content">
  <ul>
    <% notes.each(function(note){ %>
    <li>
      <% if (all) { %>
        <div><a href="#notes/all/<%= note.id %>"><%= note.escape("title") %></a></div>
      <% } else { %>
        <div><a href="#notes/<%= note.id %>"><%= note.escape("title") %></a></div>
      <% } %>
      <div><%= note.escape("body") %></div>
    </li>
    <% }) %>
  </ul>
</section>
