<section class="notes-list-content">

  <div class="current-notebook-name notes-list-header" >
    <i class="fa fa-book"></i>
    <%= all ? "All Notes" : Feathernote.activeNotebook.escape("name") %>
  </div>

  <ul>
    <% notes.each( function (note) { %>
      <li>
        <% if (note.escape("title").replace(/ /g, '').length === 0) { %>
          <% note.set("title", "Untitled") %>
          <% } %>

          <% if (all) { %>
            <a href="#/notes/all/<%= note.id %>" class="link-spanner">
              <article class="note-preview">
              <% var title = note.escape("title") %>
              <div class="preview-note-title note-preview-title"><%= $("<p>").html(title).text() %></div>
              <% var body = note.escape("body") %>
              <div class="preview-note-body note-preview-body">
                <span class="note-preview-time">
                  <%= moment(note.get("created_at")).fromNow() %>
                </span>
                <%= $("<p>").html(body).text() %>
              </div>
              </article>
            </a>

          <% } else { %>
          <a href="#/notes/<%= note.id %>" class="link-spanner">
            <article class="note-preview">
              <% var title = note.escape("title") %>
              <div class="preview-note-title note-preview-title"><%= $("<p>").html(title).text() %></div>
              <% var body = note.escape("body") %>
              <div class="preview-note-body note-preview-body">
                <span class="note-preview-time">
                  <%= moment(note.get("created_at")).fromNow() %>
                </span>
                <%= $("<p>").html(body).text() %>
              </div>
            </article>
          </a>
          <% } %>

      </li>
    <% }) %>
  </ul>

</section>
