<section class="notes-list-content">
  <ul class="note-preview">
    <% notes.each(function(note){ %>
    <li>
      <% if (all) { %>
        <div id="preview-note-title"><a href="#/notes/all/<%= note.id %>"><%= note.escape("title") %></a></div>
      <% } else { %>
        <div id="preview-note-title"><a href="#/notes/<%= note.id %>"><%= note.escape("title") %></a></div>
      <% } %>
      <div id="preview-note-body"><%= note.escape("body") %></div>
    </li>
    <% }) %>
  </ul>
</section>
